*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

:root {
  /* Colors */
  /* Brand */
  /* --brand-gradient: #fc4a1a; */
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;

  /* Base */
  --background-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secondary: #a1a1aa;
  --text-color-primary: #f4f4f5;

  /* Typography */
  --ff-sans: "Inter", ui-system, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --lh-sm: 1;
  --lh-md: 1.2;
  --lh-base: 1.6;
}

html {
  font-weight: var(--fs-base);
  font-size: var(--fs-base);
  font-family: var(--ff-sans);
  line-height: var(--lh-base);

  color: var(--text-color-primary);
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: var(--lh-md);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"] {
  list-style: none;
}

@media (width >= 1280px) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;
  }
}
