.container {
  --max-width: 23.4375rem;
  /* max-width: var(--max-width);
  width: calc(var(--max-width) - var(--padding-base) * 2); */
  width: min(var(--max-width), 100% - var(--padding-x-lg) * 2);
  margin-inline: auto;
}

.py-base {
  padding-block: var(--padding-y-base);
}

.py-lg {
  padding-block: var(--padding-y-lg);
}

.py-xl {
  padding-block: var(--padding-y-xl);
}

.px-lg {
  padding-inline: var(--padding-x-lg);
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (width >= 1280px) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1rem;
  }
}
