.container {
  --max-width: 23.4375rem;
  /* max-width: var(--max-width);
  width: calc(var(--max-width) - var(--padding-base) * 2); */
  width: min(var(--max-width), 100% - var(--padding-x-lg) * 2);
  margin-inline: auto;
}

.py-base {
  padding-block: var(--padding-y-base);
}

.py-lg {
  padding-block: var(--padding-y-lg);
}

.py-xl {
  padding-block: var(--padding-y-xl);
}

.px-lg {
  padding-inline: var(--padding-x-lg);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.column-gap-1\.5 {
  column-gap: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-0\.5 {
  margin-top: 0.5rem;
}

.mr-auto {
  margin-right: auto;
}

.border-red {
  border: solid red;
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (width >= 1280px) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1rem;
  }
}
