#hero {
  & > div {
    text-align: center;

    & > img {
      width: 12.875rem;
    }

    & > h1 {
      margin-top: 1rem;
    }

    & > p {
      margin-top: 0.5rem;
      color: var(--text-color-secondary);
      line-height: 1.4;
      font-size: var(--fs-lg);
    }

    & > div {
      margin-top: 2rem;
    }
  }
}

#cellphone-img {
  margin-top: 5rem;
  background: linear-gradient(to bottom, var(--background-color), transparent),
    no-repeat center/cover url(/assets/Illustration.svg);
}

#about {
  background-color: var(--surface-color);

  & > div {
    & > span {
      color: var(--brand-color-primary);
      font-size: var(--fs-sm);
      text-transform: uppercase;
    }

    & > p {
      color: var(--text-color-secondary);
    }
  }
}

@media (width >= 1280px) {
  #hero {
    height: calc(100dvh - 6rem);
    background: linear-gradient(
        to bottom,
        var(--background-color) 50%,
        transparent
      ),
      no-repeat bottom center/contain url(/assets/Illustration.svg);

    & > div {
      & > img {
        width: 25.75rem;
      }

      & > h1 {
        margin-top: 1.5rem;
      }

      & > p {
        margin-top: 1rem;
        font-size: 2.5rem;
      }

      & > div {
        margin-top: 3rem;
      }
    }
  }

  #cellphone-img {
    display: none;
  }

  #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    align-items: center;

    & > img {
      width: 34rem;
    }
  }

  #features {
    grid-auto-flow: unset;
    grid-auto-columns: unset;
    grid-template-columns: repeat(4, 1fr);

    & > div:nth-child(2),
    & > div:nth-child(4),
    & > div:nth-child(5) {
      grid-column: span 2;
    }
  }
}
