.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--background-color);
  --btn-bg-color-hover: var(--brand-gradient);

  all: unset;
  border-radius: 0.5rem;

  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  width: fit-content;

  font: var(--fw-base) var(--fs-base) / 1.5rem var(--ff-sans);

  cursor: pointer;

  /* primary */
  background: var(--btn-bg-color);
  color: var(--btn-color);

  &:hover {
    --btn-bg-color: var(--btn-bg-color-hover);
  }
}

.btn.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.btn.btn-md {
  padding: 0.75rem 1.5rem;
}

.btn.btn-sm {
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}

.btn-secondary {
  position: relative;

  --btn-bg-color: var(--btn-bg-color-hover);
  -webkit-background-clip: text;
  background-clip: text;

  --btn-color: var(--text-color-primary);
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    padding: 0.1875rem;

    background: var(--text-color-primary);

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:hover {
    color: transparent;

    &::before {
      background: var(--btn-bg-color-hover);
    }
  }
}
